# --- DATOS ---
data/*
!data/inputs/
!data/outputs/

data/inputs/*
!data/inputs/.gitkeep
data/outputs/*
!data/outputs/.gitkeep

# --- SISTEMA Y ENTORNOS ---
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- JUPYTER ---
*-checkpoint.ipynb
